body{
    background-color: crimson;

}
p{
    color: blue;
    text-shadow: 2px 2px 2px #000;
}
h1{
    color: aqua;
    text-shadow: 2px 3px 4px #000;
}
h2{
    color: chocolate;
    text-shadow: 2px 2px 2px #000;
}
table:hover{
    transform: rotate(10deg);
    transition: 400ms;
    border: 2px solid #000;
    color: aqua;
    background-color: blueviolet;
    text-shadow: 1px 1px 1px #000;
    width: 300px;
    margin: 15px ;
    border-radius: 10px 10px 10px;
}
td{
    color: aqua;
    text-shadow: 1px 1px 1px #000;
    font-size: 10px;
}


